/* CSS Variables */
:root {
	--primary-color: #c72727;
	--secondary-color: #f99500;
	--light-color: #f3f3f3;
	--dark-color: #333;
	--max-width: 1100px;
}
.category {
	--sports-color: #f99500;
	--ent-color: #a66bbe;
	--tech-color: #009cff;
}

/* Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	background-color: var(--light-color);
}

a {
	color: var(--dark-color);
	text-decoration: none;
}
ul {
	list-style: none;
}
img {
	width: 100%;
}
p {
	margin: 0.5rem 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Staatliches', sans-serif;
}
/* Utility Classes */
.container {
	max-width: var(--max-width);
	margin: auto;
	padding: 1rem;
	overflow: hidden;
}
.category {
	display: inline-block;
	padding: 0.3rem 0.5rem;
	text-transform: uppercase;
	font-size: 0.6rem;
	font-weight: bold;
	border-radius: 15px;
	margin-bottom: 0.75rem;
}
.category-sports {
	background: var(--sports-color);
}
.category-ent {
	background: var(--ent-color);
}
.category-tech {
	background: var(--tech-color);
}

.btn {
	display: inline-block;
	cursor: pointer;
	padding: 0.75rem;
	background: var(--dark-color);
	color: #fff;
	margin-top: 1rem;
	border-radius: 5px;
	transition: all 0.4s ease;
}
.btn-block {
	display: block;
	width: 100%;
	text-align: center;
}
.btn-light {
	background: var(--light-color);
	color: var(--dark-color);
}
.btn-primary {
	background: var(--primary-color);
}
.btn-secondary {
	background: var(--secondary-color);
}
.btn:hover {
	opacity: 0.9;
}

.card {
	padding: 1rem;
	background: #fff;
}

.py-1 {
	padding: 1.5rem 0;
}
.py-2 {
	padding: 2rem 0;
}
.py-3 {
	padding: 3rem 0;
}
.p-1 {
	padding: 1.5rem;
}
.p-2 {
	padding: 2rem;
}
.p-3 {
	padding: 3rem;
}

.l-heading {
	font-size: 3rem;
}
.m-heading {
	font-size: 2rem;
}

/* Inner page grid container */
.page-container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 1rem;
}
.page-container article:first-child {
	grid-row: 1/span 3;
}

.list li {
	padding: 0.5rem 0;
	border-bottom: #555 solid 1px;
	width: 90%;
}
.list li a {
	transition: all 0.5s ease;
}
.list li a:hover {
	color: var(--secondary-color) !important;
}
.bg-dark {
	background: var(--dark-color);
	color: #fff;
}
.bg-primary {
	background: var(--primary-color);
	color: #fff;
}
.bg-secondary {
	background: var(--secondary-color);
	color: #fff;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
	color: #fff;
}
/* Navigation Bar */
#main-nav {
	background: #fff;
	position: sticky;
	top: 0;
	z-index: 2;
}
#main-nav .container {
	display: grid;
	grid-template-columns: 6fr 3fr 2fr;
	align-items: center;
}
#main-nav .logo {
	width: 40%;
}
#main-nav ul {
	justify-self: end;
	display: flex;
}
#main-nav ul li a {
	padding: 0.75rem;
	font-weight: bold;
	transition: all 0.4s ease;
}
#main-nav ul li a.current {
	background: var(--primary-color);
	color: #fff;
}
#main-nav ul li a:hover {
	background: var(--light-color);
}
#main-nav ul li a.current:hover {
	background: var(--light-color);
	color: var(--dark-color);
}

#main-nav .social {
	justify-self: center;
}
#main-nav .social i {
	padding: 0.5rem;
	color: #777;
	transition: color 0.4s ease;
}
#main-nav .social i:hover {
	color: var(--dark-color);
}

/* Section : Showcase */

#showcase {
	background: var(--dark-color);
	color: #fff;
	position: relative;
	padding: 2rem;
}
#showcase:before {
	content: '';
	background: url(/img/image_resources/featured.jpg) no-repeat center center/cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.4;
}
#showcase .showcase-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-content: center;
	height: 50vh;
}
#showcase .showcase-content {
	z-index: 1;
}

/* Section : Home Articles */

#home-articles .article-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}
#home-articles .article-container article:first-child,
#home-articles .article-container article:last-child {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	grid-column: 1/span 2;
	justify-content: center;
	align-items: center;
}
#home-articles .article-container article:last-child {
	grid-column: 2/span 2;
}

/* Article page */
#article .meta {
	padding: 0 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #eee;
}
#article .meta .category {
	margin: 0.8rem;
}
/* Section : Footer */
#main-footer {
	background: var(--dark-color);
	color: #fff;
}
#main-footer .main-img {
	width: 60%;
}
#main-footer a {
	color: #fff;
}
#main-footer .footer-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
}
#main-footer .footer-container div:last-child {
	background: #444;
	grid-column: 1/span 4;
	padding: 0.5rem;
	text-align: center;
	font-size: 0.75rem;
}
#main-footer .footer-container input[type='email'] {
	width: 90%;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}
#main-footer .footer-container input[type='submit'] {
	width: 90%;
	border: none;
}
